@font-face {
    font-family: 'enchanted_landregular';
    src: url('enchanted_land-webfont.woff2') format('woff2'),
         url('enchanted_land-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	color: antiquewhite;

}
html{
	height: 100%;
	font-family: enchanted_landregular;
}
header {
	color: antiquewhite;
	text-align: center;
	font-size: 45px;
	height: 50px;
	background: #301919;
}
#logo {
	width: 100px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
body {
	background-color: black;
	min-height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}
body::after {
	content: '';
	display: block;
	height: 50px;
}
.ginorioimg {
	height: 550px;
	align-content: center;
	position: relative;
	vertical-align: middle;
}
.button {
	height: 30px;
	width: 100px;
	position: relative;
	margin-left: 47%;
	font-family: enchanted_landregular;
	font-size: 25px;
	background-color: #301919;
	color: antiquewhite;
	border-radius: 12px;
	margin-top: 500px;
	outline: none;
}
.button:hover {
	background-color: #3c1f1f;
}
.table {
	background-color: #301919;
	color: antiquewhite;
	font-size: 50px;
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
}
.bginfo, .storyinfo {
	font-family: enchanted_landregular;
	text-align: center;
	font-size: 30px;
	width: 500px;
	color: antiquewhite;
	display: none;
	margin-left: auto;
	margin-right: auto;
}
#intro {
	width: 500px;
	color: antiquewhite;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	padding: 70px 0;
	font-size: 30px;
}
#bgquestion, #iscorrect, #identification {
	font-family: enchanted_landregular;
	text-align: center;
	font-size: 30px;
	color: antiquewhite;
	display: none;
}
#raceinfo {
	font-family: enchanted_landregular;
	text-align: center;
	font-size: 30px;
	color: antiquewhite;
	display: none;
}
#confirmrace, #confirmbg, #confirmclass, #restart, #confirmchar {
	display: none;
	margin-top: 50px;
}
#restart {
	position: absolute;
	left: -3%;
	bottom: 68.7%;
}
#confirmchar {
	left: 4.9%;
}
#intronext1 {
	display: none;
}
#intronext2 {
	display: none;
	position: absolute;
	bottom: 350px;
}
#classtable {
	margin-top: 50px;
}
#elfrace {
	width: 33.3%;
}


footer {
	text-align: center;
	color: antiquewhite;
	clear: both;
    position: absolute;
   	bottom: 0;
	width: 100%;
	height: 25px;
	font-size: 20px;
	z-index: 1;
}

#frm {
	display: none;
}
#txtArea {
	width: 99.7%;
	height: 866px;
	display: block;
	background-color: #301919;
	color: antiquewhite;
	border-color: #301919;
	font-family: enchanted_landregular;
	font-size: 25px;
	resize: none;
	bottom: 15px;
	position: absolute;
	outline: none;
	cursor:auto
}
#message {
	width: 99%;
	background-color: #301919;
	border-color: antiquewhite;
	border: none;
	color: antiquewhite;
	height: 40px;
	position: absolute;
   	bottom: 0;
	right: 0px;
	margin-top: -15px;
	padding-top: 10px;
	font-family: enchanted_landregular;
	font-size: 25px;
	outline: none;
	padding-left: 30px;
}
#message:hover {
	background-color: #3c1f1f;
}
#sendbutton {
	display: none;
}

.imageDemoBlock img {
    max-width:200px;
}

.fullscreen-mode {
    position:absolute;
    left:0;
 	top: 0;
	padding-top: 9%;
    z-index:1000;
    width:100%;
    height:81.9%;   
    line-height:100%;
    background:rgba(0,0,0,0.5);    
}

.fullscreen-mode img {
    max-width:100%;
    margin:0 auto;
    display: block;
}
.clickable {
	z-index: 2000;
	position: absolute;
	display: none;
}
.clickable:hover {
	background-color: rgba(255,255,255,0.5);
}
#panterville{
	height: 40px;
	width: 40px;
	left: 50.8vw;
	top: 42vh;
}
#rehmont {
	height: 45px;
	width: 60px;
	left: 54vw;
	top: 40vh;
}
#thegreatexpanse{
	height: 60px;
	width: 120px;
	left: 50vw;
	top: 49vh;
	transform: rotate(-40deg);
}
#ogrehills {
	height: 70px;
	width: 80px;
	left: 50vw;
	top: 33vh;
}
#faerieforest{
	height: 60px;
	width: 100px;
	left: 46vw;
	top: 43vh;
	transform: rotate(-60deg);
}
#ulidin {
	height: 40px;
	width: 40px;
	left: 46vw;
	top: 52vh;
}
#riverrun {
	height: 40px;
	width: 60px;
	left: 43vw;
	top: 39vh;
}
#brigandbackwood {
	height: 45px;
	width: 100px;
	left: 44vw;
	top: 33vh;
	transform: rotate(-30deg);
}
#adventurersarchipelago {
	height: 45px;
	width: 45px;
	left: 42vw;
	top: 56vh;
}
#thecultofthedragon {
	height: 100px;
	width: 100px;
	left: 34vw;
	top: 53vh;
}
#thefallencityofmalakir {
	height: 35px;
	width: 90px;
	left: 51vw;
	top: 68vh;
}
#thescorchedmountains {
	height: 45px;
	width: 180px;
	left: 46vw;
	top: 72vh;
}

#player {
	z-index: 2001;
	position: absolute;
	height: 40px;
	width: 40px;
	display: none;
    transition: 1s ease-in-out;
}
#playerimg {
	height: 40px;
	width: 40px;
}
#map {
	display: none;
	position: absolute;
	margin-left: 31vw;
}