@font-face {
    font-family: 'enchanted_landregular';
    src: url('enchanted_land-webfont.woff2') format('woff2'),
         url('enchanted_land-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html{
	height: 100%;
	font-family: enchanted_landregular;
}
header {
	color: antiquewhite;
	text-align: center;
	font-size: 45px;
	height: 50px;
	background: #301919;
}
#logo {
	width: 100px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
body {
	background-color: black;
	min-height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}
body::after {
  content: '';
  display: block;
  height: 50px;
}
#intro {
	width: 500px;
	color: antiquewhite;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	padding: 70px 0;
	font-size: 30px;
}
.ginorioimg {
	height: 550px;
	align-content: center;
	position: relative;
}
.button {
	height: 30px;
	width: 100px;
	position: relative;
	left: 47%;
	font-family: enchanted_landregular;
	font-size: 25px;
	background-color: #301919;
	color: antiquewhite;
	border-radius: 12px;
	margin-top: 500px;
}
#confirm {
	display: none;
	margin-top: 50px;
}
#raceinfo {
	font-family: enchanted_landregular;
	text-align: center;
	font-size: 30px;
	color: antiquewhite;
	display: none;
}
.table {
	background-color: #301919;
	color: antiquewhite;
	font-size: 50px;
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
}
#elfrace {
	width: 35%;
}
footer {
	text-align: center;
	color: antiquewhite;
	clear: both;
    position: absolute;
   	bottom: 0;
	width: 100%;
	height: 50px;
	font-size: 20px;
}
