html{
	height: 100%;
}
header {
	color: antiquewhite;
	text-align: center;
	font-size: 40px;
	height: 50px;
	background: #301919;
}
body {
	background-color: black;
	min-height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}
body::after {
  content: '';
  display: block;
  height: 50px;
}
#intro {
	color: antiquewhite;
	text-align: center;
	padding: 70px 0;
}
#start {
	height: 20px;
	width: 100px;
	position: relative;
	left: 47%;
}
footer {
	text-align: center;
	color: antiquewhite;
	clear: both;
    position: absolute;
   	bottom: 0;
	width: 100%;
	height: 50px;
}