@font-face {
    font-family: 'enchanted_landregular';
    src: url('enchanted_land-webfont.woff2') format('woff2'),
         url('enchanted_land-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	color: antiquewhite;

}
html{
	height: 100%;
	font-family: enchanted_landregular;
}
header {
	color: antiquewhite;
	text-align: center;
	font-size: 45px;
	height: 50px;
	background: #301919;
}
#logo {
	width: 100px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
body {
	background-color: black;
	min-height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}
body::after {
	content: '';
	display: block;
	height: 50px;
}
.ginorioimg {
	height: 550px;
	align-content: center;
	position: relative;
	vertical-align: middle;
}
.button {
	height: 30px;
	width: 100px;
	position: relative;
	margin-left: 47%;
	font-family: enchanted_landregular;
	font-size: 25px;
	background-color: #301919;
	color: antiquewhite;
	border-radius: 12px;
	margin-top: 500px;
	outline: none;
}
.button:hover {
	background-color: #3c1f1f;
}
.table {
	background-color: #301919;
	color: antiquewhite;
	font-size: 50px;
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
}
.bginfo, .storyinfo {
	font-family: enchanted_landregular;
	text-align: center;
	font-size: 30px;
	width: 500px;
	color: antiquewhite;
	display: none;
	margin-left: auto;
	margin-right: auto;
}
#intro {
	width: 500px;
	color: antiquewhite;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	padding: 70px 0;
	font-size: 30px;
}
#bgquestion, #iscorrect, #identification {
	font-family: enchanted_landregular;
	text-align: center;
	font-size: 30px;
	color: antiquewhite;
	display: none;
}
#raceinfo {
	font-family: enchanted_landregular;
	text-align: center;
	font-size: 30px;
	color: antiquewhite;
	display: none;
}
#confirmrace, #confirmbg, #confirmclass, #restart, #confirmchar {
	display: none;
	margin-top: 50px;
}
#restart {
	position: absolute;
	left: -3%;
	bottom: 68.7%;
}
#confirmchar {
	left: 4.9%;
}
#intronext1 {
	display: none;
}
#intronext2 {
	display: none;
	position: absolute;
	bottom: 350px;
}
#classtable {
	margin-top: 50px;
}
#elfrace {
	width: 33.3%;
}


footer {
	text-align: center;
	color: antiquewhite;
	clear: both;
    position: absolute;
   	bottom: 0;
	width: 100%;
	height: 25px;
	font-size: 20px;
	z-index: 1;
}

#frm {
	/*display: none;*/
}
#txtArea {
	width: 99.7%;
	height: 866px;
	display: block;
	background-color: #301919;
	color: antiquewhite;
	border-color: #301919;
	font-family: enchanted_landregular;
	font-size: 25px;
	resize: none;
	bottom: 15px;
	position: absolute;
	outline: none;
	cursor:auto
}
#message {
	width: 99%;
	background-color: #301919;
	border-color: antiquewhite;
	border: none;
	color: antiquewhite;
	height: 40px;
	position: absolute;
   	bottom: 0;
	right: 0px;
	margin-top: -15px;
	padding-top: 10px;
	font-family: enchanted_landregular;
	font-size: 25px;
	outline: none;
	padding-left: 30px;
}
#message:hover {
	background-color: #3c1f1f;
}
#sendbutton {
	display: none;
}

.imageDemoBlock img {
    max-width:200px;
}

.fullscreen-mode {
    position:absolute;
    left:0;
 	top: 0;
	padding-top: 150px;
    z-index:1000;
    width:100%;
    height:100%;   
    line-height:100%;
    background:rgba(0,0,0,0.5);    
}

.fullscreen-mode img {
    max-width:100%;
    margin:0 auto;
    display: block;
}
